<div class="dashboard-container">
  <div
    style="width: 820px; height: 38px; justify-content: flex-start; align-items: center; gap: 28px; display: inline-flex">
    <div style="flex: 1 1 0; height: 38px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="width: 3px; height: 20px; background: #6438F5; border-radius: 360px"></div>
      <div
        style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
          style="align-self: stretch; color: #323741; font-size: 11px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
          Net Volume from sales
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
          <div
            style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">
            $4,180,332.54
          </div>
          <div
            style="padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; background: #E1F4EF; border-radius: 999px; overflow: hidden; justify-content: center; align-items: center; display: flex">
            <div
              style="text-align: center; color: #29896E; font-size: 10px; font-family: Inter; font-weight: 500; text-transform: uppercase; line-height: 11px; letter-spacing: 0.22px; word-wrap: break-word">
              +4.2%
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg fill="none" height="35" viewBox="0 0 1 42" width="1" xmlns="http://www.w3.org/2000/svg">
      <line stroke="#EAEDF2" x1="0.5" x2="0.500002" y1="-2.18557e-08" y2="42" />
    </svg>
    <div style="flex: 1 1 0; height: 38px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="width: 3px; height: 20px; background: #37B793; border-radius: 360px"></div>
      <div
        style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
          style="white-space: nowrap; align-self: stretch; color: #323741; font-size: 11px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
          Successful Payment
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
          <div
            style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">
            25,296
          </div>
          <div
            style="padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; background: #FDEBDF; border-radius: 999px; overflow: hidden; justify-content: center; align-items: center; display: flex">
            <div
              style="text-align: center; color: #B65C21; font-size: 10px; font-family: Inter; font-weight: 500; text-transform: uppercase; line-height: 11px; letter-spacing: 0.22px; word-wrap: break-word">
              -3.5%
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg fill="none" height="35" viewBox="0 0 1 42" width="1" xmlns="http://www.w3.org/2000/svg">
      <line stroke="#EAEDF2" x1="0.5" x2="0.500002" y1="-2.18557e-08" y2="42" />
    </svg>
    <div style="flex: 1 1 0; height: 38px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="width: 3px; height: 20px; background: #36B9E9; border-radius: 360px"></div>
      <div
        style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
          style="align-self: stretch; color: #323741; font-size: 11px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
          New Customers
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
          <div
            style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">
            18,043
          </div>
          <div
            style="padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; background: #E1F4EF; border-radius: 999px; overflow: hidden; justify-content: center; align-items: center; display: flex">
            <div
              style="text-align: center; color: #29896E; font-size: 10px; font-family: Inter; font-weight: 500; text-transform: uppercase; line-height: 11px; letter-spacing: 0.22px; word-wrap: break-word">
              +10.9%
            </div>
          </div>
        </div>
      </div>
    </div>
    <svg fill="none" height="35" viewBox="0 0 1 42" width="1" xmlns="http://www.w3.org/2000/svg">
      <line stroke="#EAEDF2" x1="0.5" x2="0.500002" y1="-2.18557e-08" y2="42" />
    </svg>
    <div style="flex: 1 1 0; height: 38px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
      <div style="width: 3px; height: 20px; background: #37B793; border-radius: 360px"></div>
      <div
        style="flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
        <div
          style="align-self: stretch; color: #323741; font-size: 11px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
          New Subscribers
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
          <div
            style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 22px; word-wrap: break-word">
            13,326
          </div>
          <div
            style="padding-left: 5px; padding-right: 5px; padding-top: 2px; padding-bottom: 2px; background: #E1F4EF; border-radius: 999px; overflow: hidden; justify-content: center; align-items: center; display: flex">
            <div
              style="text-align: center; color: #29896E; font-size: 10px; font-family: Inter; font-weight: 500; text-transform: uppercase; line-height: 11px; letter-spacing: 0.22px; word-wrap: break-word">
              +5.9%
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <svg fill="none" height="1" viewBox="0 0 808 1" width="808" xmlns="http://www.w3.org/2000/svg">
    <line stroke="#EAEDF2" x2="808" y1="0.5" y2="0.5" />
  </svg>

  <div style="width: 490px;height: 260px;margin-top: 30px">
    <canvas #salesChart height="180" width="238"></canvas>
  </div>

  <div class="sub-charts" style="margin-left: 500px;margin-top: -240px">
    <canvas #subChartChart height="100" width="238"></canvas>
  </div>
</div>
