<div
  class="margin-menu"
  style="margin-top: 20px;width: 264px; height: 250px; padding: 16px; left: 1144px; top: 422px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 20px; display: inline-flex">
  <div
    style="width: 232px; color: #0F0F10; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
    Customer Churn Rate
  </div>
  <div
    style="align-self: stretch; flex: 1 1 0; padding-right: 8px; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
    <div
      style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: flex">
        <div style="align-self: stretch; flex: 1 1 0; background: #F8FAFB"></div>
        <div style="width: 45.50px; height: 45px; position: relative; background: #C1E9DE; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 22px; position: relative; background: #BFD5FA; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 16px; position: relative; background: #CFC1FC; border-radius: 4px"></div>
      </div>
      <div
        style="text-align: center; color: #525866; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
        50 -100
      </div>
    </div>
    <div
      style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: flex">
        <div style="align-self: stretch; flex: 1 1 0; background: #F8FAFB"></div>
        <div style="width: 45.50px; height: 27px; position: relative; background: #C1E9DE; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 7px; position: relative; background: #BFD5FA; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 16px; position: relative; background: #CFC1FC; border-radius: 4px"></div>
      </div>
      <div
        style="text-align: center; color: #525866; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
        100-200
      </div>
    </div>
    <div
      style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: flex">
        <div style="align-self: stretch; flex: 1 1 0; background: #F8FAFB"></div>
        <div style="width: 45.50px; height: 70px; position: relative; background: #C1E9DE; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 20px; position: relative; background: #BFD5FA; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 22px; position: relative; background: #CFC1FC; border-radius: 4px"></div>
      </div>
      <div
        style="text-align: center; color: #525866; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
        250-500
      </div>
    </div>
    <div
      style="flex: 1 1 0; align-self: stretch; flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="align-self: stretch; flex: 1 1 0; flex-direction: column; justify-content: flex-start; align-items: center; gap: 2px; display: flex">
        <div style="align-self: stretch; flex: 1 1 0; background: #F8FAFB"></div>
        <div style="width: 45.50px; height: 55px; position: relative; background: #C1E9DE; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 31px; position: relative; background: #BFD5FA; border-radius: 4px"></div>
        <div style="width: 45.50px; height: 12px; position: relative; background: #CFC1FC; border-radius: 4px"></div>
      </div>
      <div
        style="align-self: stretch; text-align: center; color: #525866; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 16px; word-wrap: break-word">
        >$500
      </div>
    </div>
  </div>
</div>
