<div
  style="width: 1440px; height: 1112px; position: relative; background: white; border-radius: 16px; overflow: hidden">

  <app-side-bar [dynamicHeight]=1110></app-side-bar>
  <app-header></app-header>
  <app-transaction-history></app-transaction-history>
  <div
    style="left: 280px; top: 102px; position: absolute; justify-content: flex-start; align-items: center; gap: 224px; display: inline-flex">
    <div style="height: 34px; justify-content: flex-start; align-items: flex-start; gap: 6px; display: flex">
      <div
        style="width: 414px; color: #0F0F10; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 34px; word-wrap: break-word">
        Balances
      </div>
    </div>
    <button
      style="margin-left: 300px;outline: none;background: transparent; border: none; cursor: pointer; padding: 0;">
      <div
        style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: linear-gradient(0deg, #0F0F10 0%, #0F0F10 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 0px 0px 1px #242628; border-radius: 8px; overflow: hidden; border: 1px rgba(255, 255, 255, 0.12) solid; justify-content: center; align-items: center; gap: 4px; display: flex; transition: background 0.3s ease;">
        <div
          style="padding-left: 4px; padding-right: 4px; justify-content: center; align-items: center; gap: 8px; display: flex">
          <div
            style="text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
            Manage Payouts
          </div>
        </div>
        <app-down-arrow-icon></app-down-arrow-icon>
      </div>
    </button>
  </div>
  <div
    style="height: 126px; padding: 16px; left: 280px; top: 162px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div
        style="width: 20px; height: 20px; padding-left: 2.50px; padding-right: 2.50px; padding-top: 1.67px; padding-bottom: 1.67px; justify-content: center; align-items: center; display: flex">
        <div style="width: 15px; height: 16.67px; position: relative">
          <div
            style="width: 15px; height: 12.50px; left: 0px; top: 4.17px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 8.33px; height: 4.17px; left: 3.33px; top: 0px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 3.33px; height: 5.83px; left: 5.71px; top: 7.49px; position: absolute; border: 1.50px #555F75 solid"></div>
        </div>
      </div>
      <div
        style="width: 188px; color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
        Total Income
      </div>
    </div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
      <div
        style="color: #0F0F10; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 34px; word-wrap: break-word">
        $64,453.00
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        +10 from last week
      </div>
    </div>
    <div
      style="width: 77px; height: 38px; box-shadow: 0px 4px 10px rgba(55, 183, 147, 0.20); border-radius: 1px; border: 2px #37B793 solid"></div>
  </div>
  <div
    style="height: 126px; padding: 16px; left: 568px; top: 162px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div
        style="width: 20px; height: 20px; padding: 2.08px; justify-content: center; align-items: center; display: flex">
        <div style="width: 15.83px; height: 15.85px; position: relative">
          <div
            style="width: 3.33px; height: 6.67px; left: 6.25px; top: 4.60px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 15.83px; height: 15.83px; left: 0px; top: 0.01px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 4.17px; height: 4.17px; left: 11.66px; top: 0px; position: absolute; border: 1.50px #555F75 solid"></div>
        </div>
      </div>
      <div
        style="width: 188px; color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
        Down Payment
      </div>
    </div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
      <div
        style="color: #0F0F10; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 34px; word-wrap: break-word">
        $1,456
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        +10 from last week
      </div>
    </div>
    <div
      style="width: 78px; height: 32px; box-shadow: 0px 4px 4px rgba(223, 28, 65, 0.20); border-radius: 1px; border: 2px #F17B2C solid"></div>
  </div>
  <div
    style="height: 126px; padding: 16px; left: 856px; top: 162px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div
        style="width: 20px; height: 20px; padding: 2.08px; justify-content: center; align-items: center; display: flex">
        <div style="width: 15.83px; height: 15.83px; position: relative">
          <div
            style="width: 0px; height: 1.67px; left: 12.08px; top: 11.25px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 0px; height: 2.50px; left: 7.92px; top: 10.42px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 0px; height: 4.17px; left: 3.75px; top: 8.75px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 10px; height: 4.17px; left: 2.92px; top: 3.75px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 15.83px; height: 15.83px; left: 0px; top: 0px; position: absolute; border: 1.50px #555F75 solid"></div>
        </div>
      </div>
      <div
        style="width: 188px; color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
        New reviews
      </div>
    </div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
      <div
        style="color: #0F0F10; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 34px; word-wrap: break-word">
        2.34
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        +10 from last week
      </div>
    </div>
    <div
      style="width: 78px; height: 38px; box-shadow: 0px 4px 4px rgba(64, 196, 170, 0.20); border-radius: 1px; border: 2px #37B793 solid"></div>
  </div>
  <div
    style="height: 126px; padding: 16px; left: 1144px; top: 162px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: inline-flex">
    <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
      <div
        style="width: 20px; height: 20px; padding-left: 2.08px; padding-right: 2.08px; padding-top: 1.67px; padding-bottom: 1.67px; justify-content: center; align-items: center; display: flex">
        <div style="width: 15.83px; height: 16.67px; position: relative">
          <div
            style="width: 3.33px; height: 6.67px; left: 6.25px; top: 5px; position: absolute; border: 1.50px #555F75 solid"></div>
          <div
            style="width: 15.83px; height: 16.67px; left: 0px; top: 0px; position: absolute; border: 1.50px #555F75 solid"></div>
        </div>
      </div>
      <div
        style="width: 188px; color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
        Complete Payment
      </div>
    </div>
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
      <div
        style="color: #0F0F10; font-size: 24px; font-family: Inter; font-weight: 600; line-height: 34px; word-wrap: break-word">
        $53,546.31
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        +10 from last week
      </div>
    </div>
    <div
      style="width: 78px; height: 27px; box-shadow: 0px 4px 4px rgba(223, 28, 65, 0.20); border-radius: 1px; border: 2px #DE2C41 solid"></div>
  </div>
  <div
    style="margin-top: 22px; width: 830px; height: 400px; left: 280px; top: 312px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #EAEDF2 solid">
    <div style="width: 834px; height: 400px; left: 0px; top: -17px; position: absolute; border-radius: 12px"></div>
    <div style="width: 752px; height: 1px; left: 72px; top: 333px; position: absolute; background: #EAEDF2"></div>
    <div
      style="width: 752px; height: 1px; left: 72px; top: 272px; position: absolute; border: 1px #EAEDF2 dotted"></div>
    <div
      style="width: 752px; height: 1px; left: 72px; top: 210px; position: absolute; border: 1px #EAEDF2 dotted"></div>
    <div
      style="width: 752px; height: 1px; left: 72px; top: 146px; position: absolute; border: 1px #EAEDF2 dotted"></div>
    <div style="width: 752px; height: 1px; left: 72px; top: 83px; position: absolute; border: 1px #EAEDF2 dotted"></div>
    <div style="width: 11px; height: 1px; left: 60px; top: 179px; position: absolute; background: #EAEDF2"></div>
    <div style="width: 11px; height: 1px; left: 60px; top: 236px; position: absolute; background: #EAEDF2"></div>
    <div style="width: 11px; height: 1px; left: 60px; top: 303px; position: absolute; background: #EAEDF2"></div>
    <div style="width: 11px; height: 1px; left: 60px; top: 115px; position: absolute; background: #EAEDF2"></div>
    <div style="width: 1px; height: 250px; left: 65px; top: 84px; position: absolute; background: #EAEDF2"></div>
    <div style="width: 24px; height: 24px; left: 53px; top: 72px; position: absolute">
      <div style="width: 4px; height: 4px; left: 15px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 14px; height: 0px; left: 5px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 4px; height: 4px; left: 15px; top: 8px; position: absolute; border: 2px #6438F5 solid"></div>
      <div
        style="width: 8px; height: 8px; left: 2px; top: 8px; position: absolute; background: #6438F5; border-radius: 9999px; border: 1px #6438F5 solid"></div>
    </div>
    <div style="width: 24px; height: 24px; left: 53px; top: 134px; position: absolute">
      <div style="width: 4px; height: 4px; left: 15px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 14px; height: 0px; left: 5px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 4px; height: 4px; left: 15px; top: 8px; position: absolute; border: 2px #6438F5 solid"></div>
      <div
        style="width: 8px; height: 8px; left: 2px; top: 8px; position: absolute; background: #6438F5; border-radius: 9999px; border: 1px #6438F5 solid"></div>
    </div>
    <div style="width: 24px; height: 24px; left: 53px; top: 198px; position: absolute">
      <div style="width: 4px; height: 4px; left: 15px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 14px; height: 0px; left: 5px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 4px; height: 4px; left: 15px; top: 8px; position: absolute; border: 2px #6438F5 solid"></div>
      <div
        style="width: 8px; height: 8px; left: 2px; top: 8px; position: absolute; background: #6438F5; border-radius: 9999px; border: 1px #6438F5 solid"></div>
    </div>
    <div style="width: 24px; height: 24px; left: 53px; top: 261px; position: absolute">
      <div style="width: 4px; height: 4px; left: 15px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 14px; height: 0px; left: 5px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 4px; height: 4px; left: 15px; top: 8px; position: absolute; border: 2px #6438F5 solid"></div>
      <div
        style="width: 8px; height: 8px; left: 2px; top: 8px; position: absolute; background: #6438F5; border-radius: 9999px; border: 1px #6438F5 solid"></div>
    </div>
    <div style="width: 24px; height: 24px; left: 53px; top: 322px; position: absolute">
      <div style="width: 4px; height: 4px; left: 15px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 14px; height: 0px; left: 5px; top: 12px; position: absolute; border: 2px #6438F5 solid"></div>
      <div style="width: 4px; height: 4px; left: 15px; top: 8px; position: absolute; border: 2px #6438F5 solid"></div>
      <div
        style="width: 8px; height: 8px; left: 2px; top: 8px; position: absolute; background: #6438F5; border-radius: 9999px; border: 1px #6438F5 solid"></div>
    </div>
    <div
      style="left: 16px; top: 72px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 43px; display: inline-flex">
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        100
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        80
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        60
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        40
      </div>
      <div
        style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        20
      </div>
    </div>
    <div
      style="left: 94px; top: 109px; position: absolute; justify-content: flex-start; align-items: flex-end; gap: 24px; display: inline-flex">
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 123px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 123px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Jan
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 186px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 186px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Feb
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 217px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 217px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Mar
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 184px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 184px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Apr
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 1px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 149px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 149px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          May
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 217px; background: #6438F5; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 217px; background: #F17B2C; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
          Jun
        </div>
      </div>
      <div
        style="padding: 8px; background: white; box-shadow: -15px 20px 40px rgba(26, 32, 44, 0.12); border-radius: 6px; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
        <div style="width: 100px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div style="width: 8px; height: 8px; background: #F17B2C; border-radius: 9999px"></div>
          <div
            style="color: #323741; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">
            Spending
          </div>
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 5px; display: inline-flex">
          <div
            style="width: 16px; height: 16px; padding: 4px; justify-content: center; align-items: center; display: flex">
            <div style="width: 8px; height: 8px; position: relative">
              <div
                style="width: 7.33px; height: 7.33px; left: 0px; top: 0.67px; position: absolute; border: 1.20px #37B793 solid"></div>
              <div
                style="width: 4.67px; height: 4.67px; left: 3.33px; top: 0px; position: absolute; border: 1.20px #37B793 solid"></div>
            </div>
          </div>
          <div
            style="color: #0F0F10; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">
            10.21%
          </div>
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div
            style="padding: 8px; background: white; box-shadow: -15px 20px 40px rgba(26, 32, 44, 0.12); border-radius: 6px; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
            <div style="width: 120px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div style="width: 8px; height: 8px; background: #6438F5; border-radius: 9999px"></div>
              <div
                style="color: #323741; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">
                Income
              </div>
            </div>
            <div style="justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
              <div
                style="width: 16px; height: 16px; padding: 4px; justify-content: center; align-items: center; display: flex">
                <div style="width: 8px; height: 8px; position: relative">
                  <div
                    style="width: 7.33px; height: 7.33px; left: 0px; top: 0.67px; position: absolute; border: 1.20px #37B793 solid"></div>
                  <div
                    style="width: 4.67px; height: 4.67px; left: 3.33px; top: 0px; position: absolute; border: 1.20px #37B793 solid"></div>
                </div>
              </div>
              <div
                style="color: #0F0F10; font-size: 12px; font-family: Inter; font-weight: 600; line-height: 18px; word-wrap: break-word">
                +75.54%
              </div>
            </div>
          </div>
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 191px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 191px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Jul
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 105px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 105px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Aug
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 217px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 217px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Sep
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 105px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 105px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Oct
        </div>
      </div>
      <div
        style="flex-direction: column; justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
        <div
          style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
          <div style="width: 44px; height: 2px; background: #6438F5; border-radius: 2px"></div>
          <div style="justify-content: flex-start; align-items: flex-end; display: inline-flex">
            <div
              style="width: 22px; height: 123px; background: #CFC1FC; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
            <div
              style="width: 22px; height: 123px; background: #FBD6BE; border-top-left-radius: 2px; border-top-right-radius: 2px"></div>
          </div>
        </div>
        <div
          style="color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          Nov
        </div>
      </div>
    </div>
    <div
      style="width: 283px; left: 16px; top: 20px; position: absolute; color: #0F0F10; font-size: 18px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
      Upcoming Balance
    </div>
    <div
      style="left: 506px; top: 23px; position: absolute; justify-content: flex-start; align-items: flex-start; gap: 14px; display: inline-flex">
      <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
        <div
          style="width: 16px; height: 16px; padding: 2px; justify-content: center; align-items: center; display: flex">
          <div
            style="flex: 1 1 0; align-self: stretch; background: #6438F5; box-shadow: 0px 2px 4px rgba(27, 28, 29, 0.04); border-radius: 9999px; border: 2px #F8FAFB solid"></div>
        </div>
        <div
          style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
          Total Income
        </div>
      </div>
      <div style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
        <div
          style="width: 16px; height: 16px; padding: 2px; justify-content: center; align-items: center; display: flex">
          <div
            style="flex: 1 1 0; align-self: stretch; background: #F17B2C; box-shadow: 0px 2px 4px rgba(27, 28, 29, 0.04); border-radius: 9999px; border: 2px #F8FAFB solid"></div>
        </div>
        <div
          style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
          Total Spending
        </div>
      </div>
    </div>
    <div
      style="padding-left: 9px; padding-right: 9px; padding-top: 7px; padding-bottom: 7px; left: 741px; top: 16px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; justify-content: center; align-items: center; gap: 4px; display: inline-flex">
      <div
        style="padding-left: 4px; padding-right: 4px; justify-content: center; align-items: center; gap: 8px; display: flex">
        <div
          style="text-align: center; color: #323741; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
          Month
        </div>
      </div>
      <div
        style="width: 16px; height: 16px; padding-left: 3.33px; padding-right: 3.33px; padding-top: 5.33px; padding-bottom: 5.33px; justify-content: center; align-items: center; display: flex">
        <div style="width: 9.33px; height: 5.33px; background: #555F75; border: 1px #555F75 solid"></div>
      </div>
    </div>
  </div>
  <div
    style="margin-left: 2px; margin-top: 22px;height: 369px; width: 220px;padding: 16px; left: 1144px; top: 312px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 18px; display: inline-flex">
    <div style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
      <div
        style="width: 142px; color: #0F0F10; font-size: 18px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
        Saving Payment
      </div>
      <div
        style="padding: 6px; background: white; box-shadow: 0px 1px 2px rgba(228, 229, 231, 0.24); border-radius: 8px; border: 1px #EAEDF2 solid; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
        <div
          style="width: 20px; height: 20px; padding-left: 3.25px; padding-right: 3.25px; transform: rotate(-90deg); transform-origin: 0 0; justify-content: center; align-items: center; display: flex">
          <div style="width: 13.50px; height: 3px; background: #555F75"></div>
        </div>
      </div>
    </div>
    <div
      style="align-self: stretch; height: 302px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 16px; display: flex">
      <div
        style="align-self: stretch; height: 90px; padding: 16px; background: #F8FAFB; border-radius: 10px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div
          style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div
            style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div
              style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
              <div
                style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
                Mutual funds
              </div>
              <div
                style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">
                Monthly income
              </div>
            </div>
            <div
              style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
              $1,463
            </div>
          </div>
          <div
            style="width: 40px; height: 6px; padding-right: 150px; background: #EAEDF2; border-radius: 360px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 50px; height: 6px; background: #6438F5; border-radius: 360px"></div>
          </div>
        </div>
      </div>
      <div
        style="align-self: stretch; height: 90px; padding: 16px; background: #F8FAFB; border-radius: 10px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div
          style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div
            style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div
              style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
              <div
                style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
                Investments
              </div>
              <div
                style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">
                Monthly investments
              </div>
            </div>
            <div
              style="text-align: right; color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
              $2,635
            </div>
          </div>
          <div
            style="width: 110px; height: 6px; padding-right: 80px; background: #EAEDF2; border-radius: 360px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 120px; height: 6px; background: #F17B2C; border-radius: 360px"></div>
          </div>
        </div>
      </div>
      <div
        style="align-self: stretch; height: 90px; padding: 16px; background: #F8FAFB; border-radius: 10px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 10px; display: flex">
        <div
          style="align-self: stretch; height: 58px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
          <div
            style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
            <div
              style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: inline-flex">
              <div
                style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
                Sepending
              </div>
              <div
                style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px; word-wrap: break-word">
                Monthly Spending
              </div>
            </div>
            <div
              style="color: #0F0F10; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
              $3,768
            </div>
          </div>
          <div
            style="width: 70px; height: 6px; padding-right: 120px; background: #EAEDF2; border-radius: 360px; overflow: hidden; justify-content: flex-start; align-items: center; display: inline-flex">
            <div style="width: 80px; height: 6px; background: #DE2C41; border-radius: 360px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
