<div
  style="height: 48px; left: 376px; top: 98px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">

  <div
    style="align-self: stretch; height: 48px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
    <div
      style="align-self: stretch; color: #0F0F10; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word">
      Account Setup
    </div>
    <div
      style="align-self: stretch; color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
      Get ready to sell with the help of our team's friendly insights!
    </div>
  </div>
</div>
<div
  style="z-index: 1; height: 260px; width: 880px;padding: 24px; left: 376px; top: 166px; position: absolute; background: #F8FAFB; border-radius: 12px; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: center; align-items: flex-start; gap: 24px; display: inline-flex">
  <div style="width: 193px; height: 196px;">
    <div
      style="width: 144px; height: 144px; left: 24px; top: 4px; position: absolute; background: #EBF8F4; border-radius: 9999px;margin-left: 720px"></div>
    <div
      style="width: 156px; height: 164px; left: 18px; top: 27px; position: absolute; background: white; box-shadow: 0px 1px 2px rgba(15, 15, 16, 0.05); border-radius: 6px; border: 0.50px #EAEDF2 solid;margin-left: 720px"></div>
    <div
      style="width: 192px; height: 140px; left: 0px; top: 39px; position: absolute; background: white; box-shadow: 0px 4px 6px -2px rgba(15, 15, 16, 0.03); border-radius: 8px; border: 0.50px #EAEDF2 solid;margin-left: 720px"></div>
    <div
      style="width: 34px; height: 34px; left: 8px; top: 47px; position: absolute; background: #EAEDF2; border-radius: 8px;margin-left: 720px"></div>
    <div
      style="width: 16px; height: 16px; left: 8px; top: 133px; position: absolute; background: #EAEDF2; border-radius: 4px;margin-left: 720px"></div>
    <div
      style="width: 16px; height: 16px; left: 8px; top: 153px; position: absolute; background: #EAEDF2; border-radius: 4px;margin-left: 720px"></div>
    <div
      style="left: 52px; top: 52px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 7px; display: inline-flex;margin-left: 720px">
      <div
        style="width: 101px; height: 10px; background: linear-gradient(90deg, #DFE1E6 1%, #F3F4F6 43%, #F8F9FB 100%); border-radius: 6px"></div>
      <div
        style="width: 114px; height: 8px; background: linear-gradient(90deg, #DFE1E6 1%, #F3F4F6 43%, #F8F9FB 100%); border-radius: 6px"></div>
    </div>
    <div
      style="width: 44px; height: 6px; left: 8px; top: 91px; position: absolute; background: linear-gradient(90deg, #DFE1E6 1%, #F3F4F6 43%, #F8F9FB 100%); border-radius: 6px;margin-left: 720px"></div>
    <div
      style="width: 44px; height: 6px; left: 30px; top: 138px; position: absolute; background: linear-gradient(90deg, #DFE1E6 1%, #F3F4F6 43%, #F8F9FB 100%); border-radius: 6px;margin-left: 720px"></div>
    <div
      style="width: 44px; height: 6px; left: 30px; top: 158px; position: absolute; background: linear-gradient(90deg, #DFE1E6 1%, #F3F4F6 43%, #F8F9FB 100%); border-radius: 6px;margin-left: 720px"></div>
    <div
      style="left: 8px; top: 105px; position: absolute; color: #0F0F10; font-size: 16px; font-family: Inter; font-weight: 600; line-height: 24px; word-wrap: break-word;margin-left: 720px">
      $00.00 USD
    </div>
    <div style="width: 40px; height: 40px; left: 145px; top: 129px; position: absolute;margin-left: 720px">
      <div
        style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute; background: #37B793; box-shadow: 0px 4px 9px rgba(55, 183, 147, 0.24); border-radius: 9999px"></div>
      <div
        style="width: 20px; height: 20px; padding-left: 1.46px; padding-right: 1.46px; padding-top: 1.04px; padding-bottom: 1.04px; left: 10px; top: 10px; position: absolute; justify-content: center; align-items: center; display: inline-flex">
        <app-security-check-icon></app-security-check-icon>
      </div>
    </div>
  </div>
  <div
    style="align-self: stretch; height: 72px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
    <div
      style="align-self: stretch; color: #0F0F10; font-size: 18px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
      Let's get verified your information
    </div>
    <div
      style="width: 636px; color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
      We require some additional details about you and your business to comply with regulations and begin processing
      your payments.
    </div>
  </div>
  <div style="flex-direction: column; justify-content: center; align-items: flex-start; gap: 8px; display: flex">
    <div style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="width: 24px; height: 24px; padding: 1.25px; justify-content: center; align-items: center; display: flex">
        <app-check-mark-icon></app-check-mark-icon>
      </div>
      <div style="width: 636px"><span
        style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">Click on '</span><span
        style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">Verify Account</span><span
        style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">' to submit your details and start the verification process.</span>
      </div>
    </div>
    <div style="justify-content: flex-start; align-items: center; gap: 12px; display: inline-flex">
      <div
        style="width: 24px; height: 24px; padding: 1.25px; justify-content: center; align-items: center; display: flex">
        <app-check-mark-icon></app-check-mark-icon>
      </div>
      <div
        style="width: 636px; color: #323741; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
        Stay updated on your progress through email.
      </div>
    </div>
  </div>
  <button
    style="background: none; border: none; cursor: pointer; padding: 0;">
    <div
      style="padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; background: linear-gradient(0deg, #0F0F10 0%, #0F0F10 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.18) 0%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 0px 0px 1px #242628; border-radius: 8px; overflow: hidden; border: 1px rgba(255, 255, 255, 0.12) solid; justify-content: center; align-items: center; gap: 4px; display: flex; transition: background 0.3s ease;">
      <app-shield-icon></app-shield-icon>
      <div
        style="padding-left: 4px; padding-right: 4px; justify-content: center; align-items: center; gap: 8px; display: flex">
        <div
          style="text-align: center; color: white; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
          Verify your account
        </div>
      </div>
    </div>
  </button>
</div>
