<body>
<div class="container">
  <div class="section input-group">
    <label class="input-label">Select type</label>
    <input class="input-field" placeholder="Products or subscriptions" type="text">
  </div>

  <div class="section">
    <div class="tabs">
      <div class="tab active">Payment page</div>
      <div class="tab">After payment</div>
    </div>
  </div>

  <div class="section input-group">
    <label class="input-label">Product</label>
    <input class="input-field" placeholder="Find or add a test product..." type="text">
  </div>

  <div class="section">
    <div class="options-title">Options</div>
    <div class="checkbox-group">
      <label class="custom-checkbox">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-label" style="margin-left: 6px">Collect tax automatically</label>
      <span class="info-icon">ⓘ</span>
    </div>
    <div class="checkbox-group">
      <label class="custom-checkbox">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-label" style="margin-left: 6px">Collect customers' addresses</label>
      <span class="info-icon">ⓘ</span>
    </div>
    <div class="checkbox-group">
      <label class="custom-checkbox">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-label" style="margin-left: 6px">Require customers to provide a phone number</label>
      <span class="info-icon">ⓘ</span>
    </div>
    <div class="checkbox-group">
      <label class="custom-checkbox">
        <input type="checkbox">
        <span class="checkmark"></span>
      </label>
      <label class="checkbox-label" style="margin-left: 6px">Limit the number of payments</label>
      <span class="info-icon">ⓘ</span>
    </div>
  </div>

  <div class="section advanced-options">
    <span class="advanced-options-text">Advanced options</span>
    <span class="dropdown-icon">
            <app-down-arrow-icon></app-down-arrow-icon>
          </span>
  </div>
</div>
</body>
