<div class="margin-menu"
     style="margin-top: 22px; padding: 16px; left: 1144px; top: 140px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: inline-flex">
  <div
    style="width: 232px; color: #0F0F10; font-size: 16px; font-family: Inter; font-weight: 500; line-height: 24px; word-wrap: break-word">
    Net Revenue
  </div>
  <div style="width: 232px; height: 108px; position: relative">
    <canvas #gaugeChart height="108" width="232"></canvas>
    <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;">
      <div style="color: #323741; font-size: 12px; font-family: Inter; font-weight: 400; line-height: 18px;">
        Revenue
      </div>
      <div style="color: #0F0F10; font-size: 18px; font-family: Inter; font-weight: 600; line-height: 24px;">
        $15.000
      </div>
    </div>
  </div>
  <div
    style="width: 226px; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; justify-content: flex-start; align-items: flex-start; display: inline-flex">
    <div
      style="flex: 1 1 0; padding: 8px; background: #F8FAFB; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
      <div
        style="align-self: stretch; height: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
        <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
          <div
            style="width: 16px; height: 16px; padding: 2px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; background: #6438F5; box-shadow: 0px 2px 4px rgba(27, 28, 29, 0.04); border-radius: 9999px; border: 2px white solid"></div>
          </div>
          <div
            style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
            Customers
          </div>
        </div>
        <div
          style="align-self: stretch; color: #0F0F10; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 28px; word-wrap: break-word">
          1254
        </div>
      </div>
    </div>
    <div
      style="flex: 1 1 0; padding: 8px; background: #F8FAFB; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: inline-flex">
      <div
        style="align-self: stretch; height: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: flex">
        <div style="justify-content: flex-start; align-items: center; gap: 6px; display: inline-flex">
          <div
            style="width: 16px; height: 16px; padding: 2px; justify-content: center; align-items: center; display: flex">
            <div
              style="flex: 1 1 0; align-self: stretch; background: #F17B2C; box-shadow: 0px 2px 4px rgba(27, 28, 29, 0.04); border-radius: 9999px; border: 2px white solid"></div>
          </div>
          <div
            style="color: #888E9E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
            Subscription
          </div>
        </div>
        <div
          style="align-self: stretch; color: #0F0F10; font-size: 20px; font-family: Inter; font-weight: 500; line-height: 28px; word-wrap: break-word">
          1145
        </div>
      </div>
    </div>
  </div>
</div>
