<div
  class="margin-menu"
  style="margin-top: 22px;width: 840px; height: 342px; left: 280px; top: 140px; position: absolute; background: white; border-radius: 12px; overflow: hidden; border: 1px #EAEDF2 solid;">
  <div
    style="height: 114px; padding: 16px; left: 0px; top: 0px; position: absolute; background: #F8FAFB; margin-top: 0px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex;">
    <div
      style="align-self: stretch; height: 82px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div
        style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div
          style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div
            style="width: 16px; height: 16px; padding: 1.33px; justify-content: center; align-items: center; display: flex">
            <div style="width: 13.33px; height: 13.33px; position: relative">
              <div
                style="width: 13.33px; height: 5.33px; left: 0px; top: 0px; position: absolute; border: 1.30px #555F75 solid"></div>
              <div
                style="width: 0.01px; height: 0.67px; left: 6.66px; top: 3.33px; position: absolute; border: 1.20px #555F75 solid"></div>
              <div
                style="width: 2.67px; height: 5.67px; left: 1.33px; top: 5.33px; position: absolute; border: 1.30px #555F75 solid"></div>
              <div
                style="width: 2.67px; height: 5.67px; left: 9.33px; top: 5.33px; position: absolute; border: 1.30px #555F75 solid"></div>
              <div
                style="width: 13.33px; height: 2.33px; left: 0px; top: 11px; position: absolute; border: 1.30px #555F75 solid"></div>
            </div>
          </div>
          <div
            style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
            Revenue
          </div>
          <div
            style="padding-top: 1px; padding-bottom: 1px; padding-left: 6px; padding-right: 8px; background: #E1F4EF; box-shadow: 0px -1px 0px rgba(64, 196, 170, 0.15) inset; border-radius: 4px; overflow: hidden; border: 1px #40C4AA solid; justify-content: center; align-items: center; gap: 4px; display: flex">
            <div style="width: 12px; height: 12px; position: relative">
              <div
                style="width: 4.83px; height: 4.83px; left: 3px; top: 3px; position: absolute; border: 1.20px #29896E solid"></div>
              <div
                style="width: 6px; height: 6px; left: 3px; top: 3px; position: absolute; border: 1.20px #29896E solid"></div>
            </div>
            <div
              style="color: #29896E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
              160%
            </div>
          </div>
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div
            style="width: 20px; height: 20px; padding: 1.67px; justify-content: center; align-items: center; display: flex">
            <div style="width: 16.67px; height: 16.67px; position: relative">
              <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.33398 12.5L3.33398 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M10 7.5L10 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M18.334 18.3335L1.66732 18.3335" stroke="#555F75" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M16.667 10.8335L16.667 15.8335" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path
                  d="M4.66707 7.33336C4.363 6.92857 3.87891 6.66675 3.33366 6.66675C2.41318 6.66675 1.66699 7.41294 1.66699 8.33341C1.66699 9.25389 2.41318 10.0001 3.33366 10.0001C4.25413 10.0001 5.00033 9.25389 5.00033 8.33341C5.00033 7.95819 4.87633 7.61192 4.66707 7.33336ZM4.66707 7.33336L8.66691 4.33347M8.66691 4.33347C8.97099 4.73826 9.45508 5.00008 10.0003 5.00008C10.6528 5.00008 11.2177 4.62513 11.4914 4.07893M8.66691 4.33347C8.45766 4.05491 8.33366 3.70864 8.33366 3.33341C8.33366 2.41294 9.07985 1.66675 10.0003 1.66675C10.9208 1.66675 11.667 2.41294 11.667 3.33341C11.667 3.6014 11.6037 3.85461 11.4914 4.07893M11.4914 4.07893L15.176 5.92123M15.176 5.92123C15.0636 6.14555 15.0003 6.39876 15.0003 6.66675C15.0003 7.58722 15.7465 8.33341 16.667 8.33341C17.5875 8.33341 18.3337 7.58722 18.3337 6.66675C18.3337 5.74627 17.5875 5.00008 16.667 5.00008C16.0145 5.00008 15.4496 5.37503 15.176 5.92123Z"
                  stroke="#555F75" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div
        style="align-self: stretch; height: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: flex-start; display: flex">
            <div
              style="color: #888E9E; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word">
              $
            </div>
            <div
              style="color: #0F0F10; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word">
              {{ totalRevenue }}

            </div>
          </div>
        </div>
        <div
          style="align-self: stretch; color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word;">
          From $175,26
        </div>
        <a
          style="align-self: stretch; border-bottom: 1.4px solid #6137eb; margin-top: 4px;width: 280px;margin-left: -16px"></a>
      </div>
    </div>
  </div>
  <div
    style="height: 114px; padding: 16px; left: 0px; top: 114px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div
      style="align-self: stretch; height: 82px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
      <div
        style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
        <div
          style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div
            style="width: 16px; height: 16px; padding: 1.33px; justify-content: center; align-items: center; display: flex">
            <div style="width: 13.33px; height: 13.33px; position: relative">
              <div
                style="width: 13.33px; height: 13.33px; left: 0px; top: 0px; position: absolute; border: 1.20px #555F75 solid"></div>
              <div
                style="width: 2.67px; height: 5.33px; left: 5.33px; top: 4px; position: absolute; border: 1.20px #555F75 solid"></div>
              <div
                style="width: 3.33px; height: 3.33px; left: 13.33px; top: 3.33px; position: absolute; transform: rotate(-180deg); transform-origin: 0 0; border: 1.20px #555F75 solid"></div>
            </div>
          </div>
          <div
            style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
            Transactions
          </div>
          <div
            style="padding-top: 1px; padding-bottom: 1px; padding-left: 6px; padding-right: 8px; background: #E1F4EF; box-shadow: 0px -1px 0px rgba(64, 196, 170, 0.15) inset; border-radius: 4px; overflow: hidden; border: 1px #40C4AA solid; justify-content: center; align-items: center; gap: 4px; display: flex">
            <div style="width: 12px; height: 12px; position: relative">
              <div
                style="width: 4.83px; height: 4.83px; left: 3px; top: 3px; position: absolute; border: 1.20px #29896E solid"></div>
              <div
                style="width: 6px; height: 6px; left: 3px; top: 3px; position: absolute; border: 1.20px #29896E solid"></div>
            </div>
            <div
              style="color: #29896E; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
              160%
            </div>
          </div>
        </div>
        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div
            style="width: 20px; height: 20px; padding: 1.67px; justify-content: center; align-items: center; display: flex">
            <div style="width: 16.67px; height: 16.67px; position: relative">
              <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.33398 12.5L3.33398 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M10 7.5L10 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M18.334 18.3335L1.66732 18.3335" stroke="#555F75" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M16.667 10.8335L16.667 15.8335" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path
                  d="M4.66707 7.33336C4.363 6.92857 3.87891 6.66675 3.33366 6.66675C2.41318 6.66675 1.66699 7.41294 1.66699 8.33341C1.66699 9.25389 2.41318 10.0001 3.33366 10.0001C4.25413 10.0001 5.00033 9.25389 5.00033 8.33341C5.00033 7.95819 4.87633 7.61192 4.66707 7.33336ZM4.66707 7.33336L8.66691 4.33347M8.66691 4.33347C8.97099 4.73826 9.45508 5.00008 10.0003 5.00008C10.6528 5.00008 11.2177 4.62513 11.4914 4.07893M8.66691 4.33347C8.45766 4.05491 8.33366 3.70864 8.33366 3.33341C8.33366 2.41294 9.07985 1.66675 10.0003 1.66675C10.9208 1.66675 11.667 2.41294 11.667 3.33341C11.667 3.6014 11.6037 3.85461 11.4914 4.07893M11.4914 4.07893L15.176 5.92123M15.176 5.92123C15.0636 6.14555 15.0003 6.39876 15.0003 6.66675C15.0003 7.58722 15.7465 8.33341 16.667 8.33341C17.5875 8.33341 18.3337 7.58722 18.3337 6.66675C18.3337 5.74627 17.5875 5.00008 16.667 5.00008C16.0145 5.00008 15.4496 5.37503 15.176 5.92123Z"
                  stroke="#555F75" stroke-width="1.5" />
              </svg>

            </div>
          </div>
        </div>
      </div>
      <div
        style="align-self: stretch; height: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
        <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
          <div style="justify-content: flex-start; align-items: flex-start; display: flex">
            <div
              style="color: #0F0F10; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word">
              132
            </div>
          </div>
        </div>
        <div
          style="align-self: stretch; color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
          From 8 month
        </div>
        <a
          style="align-self: stretch; border-bottom: 1.4px solid #dfe3e9; margin-top: 4px;width: 280px;margin-left: -16px"></a>
      </div>
    </div>
  </div>
  <div
    style="height: 114px; padding: 16px; left: 0px; top: 228px; position: absolute; border-bottom: 1px #EAEDF2 solid; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: inline-flex">
    <div
      style="align-self: stretch; height: 82px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 24px; display: flex">
      <div
        style="align-self: stretch; height: 82px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: flex">
        <div
          style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 10px; display: inline-flex">
          <div
            style="flex: 1 1 0; height: 20px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <div
              style="width: 16px; height: 16px; padding: 1.33px; justify-content: center; align-items: center; display: flex">
              <div style="width: 13.33px; height: 13.33px; position: relative">
                <div
                  style="width: 13.33px; height: 13.33px; left: 0px; top: -13.33px; position: absolute; border: 1.50px #555F75 solid"></div>
                <div
                  style="width: 6.67px; height: 7.33px; left: 0px; top: -7.33px; position: absolute; border: 1.50px #555F75 dotted"></div>
                <div
                  style="width: 2.67px; height: 5.33px; left: 5.32px; top: -9.32px; position: absolute; border: 1.50px #555F75 solid"></div>
              </div>
            </div>
            <div
              style="color: #323741; font-size: 14px; font-family: Inter; font-weight: 500; line-height: 20px; word-wrap: break-word">
              Avg. Transactions
            </div>
            <div
              style="padding-top: 1px; padding-bottom: 1px; padding-left: 6px; padding-right: 8px; background: #FDEBDF; box-shadow: 0px -1px 0px rgba(64, 196, 170, 0.15) inset; border-radius: 4px; overflow: hidden; border: 1px #F17B2C solid; justify-content: center; align-items: center; gap: 4px; display: flex">
              <div style="width: 12px; height: 12px; position: relative">
                <div
                  style="width: 4.83px; height: 4.83px; left: 4.17px; top: 4.17px; position: absolute; border: 1.20px #B58330 solid"></div>
                <div
                  style="width: 6px; height: 6px; left: 3px; top: 3px; position: absolute; border: 1.20px #B58330 solid"></div>
              </div>
              <div
                style="color: #B58330; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
                60%
              </div>
            </div>
          </div>
          <div style="justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <div
              style="width: 20px; height: 20px; padding: 1.67px; justify-content: center; align-items: center; display: flex">
              <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.33398 12.5L3.33398 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M10 7.5L10 15.8333" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M18.334 18.3335L1.66732 18.3335" stroke="#555F75" stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="1.5" />
                <path d="M16.667 10.8335L16.667 15.8335" stroke="#555F75" stroke-linecap="round" stroke-linejoin="round"
                      stroke-width="1.5" />
                <path
                  d="M4.66707 7.33336C4.363 6.92857 3.87891 6.66675 3.33366 6.66675C2.41318 6.66675 1.66699 7.41294 1.66699 8.33341C1.66699 9.25389 2.41318 10.0001 3.33366 10.0001C4.25413 10.0001 5.00033 9.25389 5.00033 8.33341C5.00033 7.95819 4.87633 7.61192 4.66707 7.33336ZM4.66707 7.33336L8.66691 4.33347M8.66691 4.33347C8.97099 4.73826 9.45508 5.00008 10.0003 5.00008C10.6528 5.00008 11.2177 4.62513 11.4914 4.07893M8.66691 4.33347C8.45766 4.05491 8.33366 3.70864 8.33366 3.33341C8.33366 2.41294 9.07985 1.66675 10.0003 1.66675C10.9208 1.66675 11.667 2.41294 11.667 3.33341C11.667 3.6014 11.6037 3.85461 11.4914 4.07893M11.4914 4.07893L15.176 5.92123M15.176 5.92123C15.0636 6.14555 15.0003 6.39876 15.0003 6.66675C15.0003 7.58722 15.7465 8.33341 16.667 8.33341C17.5875 8.33341 18.3337 7.58722 18.3337 6.66675C18.3337 5.74627 17.5875 5.00008 16.667 5.00008C16.0145 5.00008 15.4496 5.37503 15.176 5.92123Z"
                  stroke="#555F75" stroke-width="1.5" />
              </svg>
            </div>
          </div>
        </div>
        <div
          style="align-self: stretch; height: 50px; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 2px; display: flex">
          <div style="justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
            <div style="justify-content: flex-start; align-items: flex-start; display: flex">
              <div
                style="color: #888E9E; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word">
                $
              </div>
              <div
                style="color: #0F0F10; font-size: 20px; font-family: Inter; font-weight: 600; line-height: 28px; word-wrap: break-word">
                {{ avgTransactions }}
              </div>
            </div>
          </div>
          <div
            style="align-self: stretch; color: #888E9E; font-size: 14px; font-family: Inter; font-weight: 400; line-height: 20px; word-wrap: break-word">
            From $29.21
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    style="width: 342px; height: 0px; left: 291px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1px #EAEDF2 solid"></div>
  <button
    style="all: unset; cursor: pointer; display: inline-flex; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; left: 717px; top: 12px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; justify-content: center; align-items: center; gap: 4px;">
    <div
      style="padding-left: 4px; padding-right: 4px; justify-content: center; align-items: center; gap: 8px; display: flex">
      <div
        style="text-align: center; color: #323741; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
        Last year
      </div>
    </div>
    <div
      style="width: 20px; height: 12px; padding-left: 4.17px; padding-right: 4.17px; padding-top: 6.67px; padding-bottom: 6.67px; justify-content: center; align-items: center; display: flex">
      <app-down-arrow-icon></app-down-arrow-icon>
    </div>
  </button>

  <button
    style="all: unset; cursor: pointer; display: inline-flex; padding-left: 8px; padding-right: 8px; padding-top: 6px; padding-bottom: 6px; left: 310px; top: 12px; position: absolute; background: white; border-radius: 8px; overflow: hidden; border: 1px #EAEDF2 solid; justify-content: center; align-items: center; gap: 4px;">
    <div
      style="padding-left: 4px; padding-right: 4px; justify-content: center; align-items: center; gap: 8px; display: flex">
      <div
        style="text-align: center; color: #323741; font-size: 12px; font-family: Inter; font-weight: 500; line-height: 18px; word-wrap: break-word">
        All Revenue
      </div>
    </div>
    <div
      style="width: 20px; height: 12px; padding-left: 4.17px; padding-right: 4.17px; padding-top: 6.67px; padding-bottom: 6.67px; justify-content: center; align-items: center; display: flex">
      <app-down-arrow-icon></app-down-arrow-icon>
    </div>
  </button>
  <div class="chart-container">
    <canvas #comboChart></canvas>
  </div>
</div>
